Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-JWT-Extended==4.5.3
Flask-CORS==4.0.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0
Werkzeug==2.3.7
Pillow==10.0.1
python-magic==0.4.27
marshmallow==3.20.1
PyMuPDF==1.24.9
anthropic
openai
google-generativeai
beautifulsoup4==4.12.2
playwright==1.40.0
langchain-tavily
langchain-core
langchain-anthropic
pydantic
requests
bs4
weasyprint
google-search-results
